@charset "UTF-8";
html {
  font-size: 100%;
  scroll-behavior: smooth;
  width: 100%;
  color: #1b224c;
}

body {
  width: 100%;
  font-family: “YuGothic”;
  color: #1b224c;
  font-size: 16px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    font-size: 1rem;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
time,
span {
  text-decoration: none;
  color: black;
}

img,
svg {
  vertical-align: bottom;
  width: 100%;
  height: auto;
  object-fit: cover;
}

li {
  list-style: none;
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  margin-bottom: 50px;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-center {
  text-align: center !important;
}

.u-text-bold {
  font-weight: bold !important;
}

.u-sp-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .u-sp-only {
    display: block;
  }
}

.u-sp-br {
  display: none;
}

@media screen and (max-width: 768px) {
  .u-sp-br {
    display: block;
  }
}

.form__item {
  max-width: 800px;
  margin: 0 auto;
}

.form__item:not(:last-child) {
  margin-bottom: 20px;
}

.form__title {
  display: block;
  margin-bottom: 10px;
}

.form__require {
  margin-left: 10px;
}

.form__radio {
  display: block;
  margin-right: 5px;
}

.form__radio:not(:last-child) {
  margin-bottom: 15px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 0 15px 20px;
  border: solid 1px .form__input color-main;
}

.form__textarea {
  display: block;
  width: 100%;
  height: 20em;
  padding: 15px 0 15px 20px;
  border: solid 1px .form__textarea color-main;
  margin-bottom: 30px;
}

.form__btn {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  background-color: #1b224c;
  margin: 0 auto;
}

.form__btn .btn__form {
  color: #fff;
  font-weight: bold;
}

.end-message {
  display: none;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
}

.false-message {
  display: none;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  color: red;
}

.section__ttl {
  display: block;
  text-align: center;
}

.section__ttl-en {
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 15px;
}

.section__ttl-jp {
  font-size: 20px;
  font-size: 1.25rem;
}

/*--------------------------------------------------------- */
/*header
/*--------------------------------------------------------- */
/*--------------------------------------------------------- */
/*footer
/*--------------------------------------------------------- */
.footer {
  margin-top: 50px;
}

.footer small {
  display: block;
  padding: 20px 20px 20px 0;
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .footer small {
    max-width: 768px;
    padding: 0 0;
    margin: 0 auto;
    text-align: center;
  }
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .3s;
  z-index: 500;
  padding: 10px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header-inner {
  max-width: 1920px;
  padding: 0 4vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-inner {
    max-width: 768px;
    padding: 0 4vw;
    margin: 0 auto;
  }
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left__logo {
  display: block;
  margin-right: 10px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

.header-left p {
  font-size: 14px;
  font-size: 0.875rem;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right .fa-twitter {
  display: block;
  font-size: 1.5em;
  color: #1da1f2;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .header-right .fa-twitter {
    font-size: 2em;
    margin-bottom: 30px;
  }
}

.header .global-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header .global-nav__item {
    margin-left: 0;
  }
}

.header .global-nav__item:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 1050px) {
  .header .global-nav__item:first-child {
    margin-left: 0;
  }
}

.header .global-nav a {
  display: block;
  color: #1b224c;
  font-weight: bold;
  padding: 10px;
}

.header.scrollcolor {
  background-color: #f5f5dc;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  .header-right {
    flex-direction: column;
    justify-content: flex-end;
  }
  .header-right {
    flex-direction: column;
    transform: translateY(-100%);
    transition: .3s;
    width: 100%;
    height: 80%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #f5f5dc;
  }
  .header .global-nav {
    flex-direction: column;
    transform: translateY(-100%);
    transition: .3s;
    width: 100%;
    height: 65%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #f5f5dc;
  }
  .header .global-nav__list {
    display: block;
    position: absolute;
    margin: 70px 15px 0;
  }
  .header .global-nav__item {
    width: 90vw;
    text-align: left;
    border-bottom: 1px solid #000;
    padding: 5px;
    margin: 0 auto;
  }
  body.noscroll {
    overflow: hidden;
  }
  .global-nav.slide-in {
    transform: translatey(0);
    transition: .3s;
  }
  .global-nav__item.slide-in {
    width: 100vw;
    text-align: left;
    border-bottom: 1px solid #000;
    padding: 15px;
  }
  .header-right.slide-in {
    transform: translateY(0);
    transition: .3s;
  }
}

/*ハンバーガーメニュー----------------------------------*/
#btn03 {
  display: none;
  z-index: 3;
}

.btn-trigger {
  position: relative;
  width: 34px;
  height: 26px;
  cursor: pointer;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #1b224c;
  border-radius: 2px;
}

.btn-trigger,
.btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.sub-layout-bar span {
  background-color: #1b224c;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}

.btn-trigger span:nth-of-type(2) {
  top: 11px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

@media screen and (max-width: 768px) {
  #btn03 {
    display: block;
    margin-left: 20px;
  }
  #btn03.close {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  #btn03.close span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  #btn03.close span:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  #btn03.close span:nth-of-type(3) {
    opacity: 0;
  }
}

/*--------------------------------------------------------- */
/*hero
/*--------------------------------------------------------- */
.hero {
  position: relative;
  text-align: center;
}

.hero__bg {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .hero__bg {
    height: 90vh;
  }
}

.hero__wrapper {
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .hero__wrapper {
    max-width: 768px;
    padding: 0 4vw;
    margin: 0 auto;
  }
}

.hero__ttl-name {
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: bold;
  color: #ff8c00;
}

.hero__ttl-job {
  margin-top: 30px;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: bold;
  color: #ff8c00;
}

.hero__text {
  margin-top: 50px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hero__text {
    font-size: 16px;
    font-size: 1rem;
  }
}

/*--------------------------------------------------------- */
/*about
/*--------------------------------------------------------- */
.about-wrapper {
  padding-top: 80px;
  padding-bottom: 0px;
}

.about-inner {
  max-width: 1920px;
  padding: 0 4vw;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .about-inner {
    max-width: 768px;
    padding: 0 4vw;
    margin: 0 auto;
  }
}

.about-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .about-flex {
    flex-direction: column;
  }
}

.about__contents {
  width: calc(65% - 40px);
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  .about__contents {
    width: calc(100%);
    margin-right: 0;
  }
}

.about__contents-profile dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  display: table;
  width: 100%;
  font-weight: bold;
}

.about__contents-profile dt {
  width: 100px;
  display: table-cell;
  vertical-align: top;
}

.about__contents-profile dd {
  width: calc(100% - 100px);
  display: table-cell;
  vertical-align: top;
  line-height: 1.5;
}

.about__contents-start {
  margin-top: 30px;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

.about__contents-texts {
  margin-top: 30px;
  line-height: 1.5;
}

.about__image {
  width: 35%;
  margin: auto 0;
  min-width: 350px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about__image {
    width: 100%;
    min-width: none;
    margin-top: 20px;
  }
}

.about__image img {
  display: block;
  border-radius: 50px;
  height: 550px;
}

.swiper-pagination,
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

/* ========================================================
works
=========================================================*/
.works-wrapper {
  padding-top: 80px;
  padding-bottom: 0px;
}

.works-inner {
  max-width: 1920px;
  padding: 0 4vw;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .works-inner {
    max-width: 768px;
    padding: 0 4vw;
    margin: 0 auto;
  }
}

.works__lead {
  margin: 30px 0 50px 0;
  text-align: center;
  line-height: 1.5;
}

.works-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  transition: .5s;
}

@media screen and (max-width: 768px) {
  .works-media {
    flex-direction: column-reverse;
  }
}

.works-link {
  display: block;
  width: 50%;
  min-width: 450px;
  margin-right: 50px;
  margin-bottom: auto;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  .works-link {
    width: 100%;
    min-width: unset;
    margin-right: 0;
  }
}

.works-link:hover {
  transform: scale(1.03);
  opacity: .7;
  transition: .3s;
}

.works__contents {
  width: calc(50% - 50px);
  margin-bottom: auto;
}

@media screen and (max-width: 768px) {
  .works__contents {
    width: calc(100%);
    margin-bottom: 15px;
  }
}

.works__contents-ttl {
  padding: 10px;
  border: 1px solid #1b224c;
  font-size: 20px;
  font-size: 1.25rem;
}

.works__contents-texts {
  margin: 10px 0 10px 15px;
}

.works__contents-texts .lead {
  margin-bottom: 15px;
  font-weight: bold;
}

.works__contents-texts .descri {
  margin-bottom: 20px;
  line-height: 1.5;
}

.works__contents-list {
  margin-bottom: 20px;
  margin-left: 20px;
}

.works__contents-list__item {
  margin-bottom: 5px;
  line-height: 1.5;
  list-style: decimal;
}

.works__contents-caution {
  line-height: 1.2;
}

/* ========================================================
skills
=========================================================*/
.skills-wrapper {
  padding-top: 80px;
  padding-bottom: 0px;
}

.skills-inner {
  max-width: 1920px;
  padding: 0 10vw;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .skills-inner {
    max-width: 768px;
    padding: 0 8vw;
    margin: 0 auto;
  }
}

.skills__lead {
  margin: 40px 0 20px 0;
  text-align: center;
  line-height: 1.5;
}

.skills-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .skills-flex {
    flex-direction: column;
  }
}

.skills__design {
  width: 250px;
  margin-bottom: auto;
}

.skills__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
}

.skills__img-wrapper {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
}

.skills__ttl {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .skills__ttl {
    margin-bottom: 30px;
  }
}

.skills-list {
  width: calc(100% - 300px - 50px);
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .skills-list {
    width: 100%;
    margin-left: 0;
  }
}

.skills-list__item {
  list-style: disc;
  margin-bottom: 10px;
}

.skills__massage {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 20px;
  color: red;
}

/* ========================================================
policy
=========================================================*/
.policy-wrapper {
  padding-top: 80px;
  padding-bottom: 0px;
}

.policy-inner {
  max-width: 1920px;
  padding: 0 8vw;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .policy-inner {
    max-width: 768px;
    padding: 0 8vw;
    margin: 0 auto;
  }
}

.policy__lead {
  margin: 40px 0 0 0;
  text-align: center;
  line-height: 1.5;
}

.policy__list {
  margin-top: 20px;
}

.policy__list-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #1b224c;
}

.policy__list-item__ttl {
  margin-bottom: 20px;
  font-size: 20px;
  font-size: 1.25rem;
}

.policy__list-item__text {
  line-height: 1.5;
}

.policy .selfcheck {
  margin: 15px 0;
}

.policy .selfcheck__list {
  list-style: disc;
  margin: 0 0 5px 30px;
}

/* ========================================================
contact
=========================================================*/
.contact-wrapper {
  padding-top: 80px;
  padding-bottom: 0px;
}

.contact-inner {
  max-width: 1920px;
  padding: 0 8vw;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .contact-inner {
    max-width: 768px;
    padding: 0 8vw;
    margin: 0 auto;
  }
}

.contact__lead {
  margin: 40px 0;
  text-align: center;
}
